<div class="front-page">
    <div style="display: flex; flex-direction: row; gap: 10px; width: 600px; margin-inline: auto">
        <img alt="lstu" src="images/image.svg" style="width: 50px;"/>
        <div class="text-center-frontpage"><b>МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РФ</b></div><br/><br/>
    </div>
  
    <div class="text-center-frontpage"><b>ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБРАЗОВАТЕЛЬНОЕ</b></div>
    <div class="text-center-frontpage"><b>УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ «ЛИПЕЦКИЙ</b></div>
    <div class="text-center-frontpage"><b>ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ»</b></div><br/><br/>

    <div class="text-center-frontpage">Институт компьютерных наук</div>
    <div class="text-center-frontpage">Кафедра автоматизированных систем управления</div><br/><br/><br/><br/><br/>

    <div class="text-center-frontpage">ЛАБОРАТОРНАЯ РАБОТА №{{ .numberWork }}</div>
    <div class="text-center-frontpage">по дисциплине "{{ .subject }}"</div><br/><br/><br/><br/><br/><br/>

    <div style="display: flex; flex-direction: row; gap: 30px; width: 700px; margin-inline: auto; justify-content: space-around">
      <div>Студент</div>
      <div style="width: 150px">{{ .studentGroup }}</div>
      <div style="width: 100px; border-bottom: 1px solid black;"></div>
      <div>{{.studentSurname}} {{ .studentName }}</div>
    </div><br/><br/>
    <div style="display: flex; flex-direction: row; gap: 30px; width: 700px; margin-inline: auto; justify-content: space-around">
        <div>Руководитель</div>
        <div style="width: 110px"></div>
        <div style="width: 100px; border-bottom: 1px solid black;"></div>
        <div>{{.teacherSurname}} {{ .teacherName }}</div>
    </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <div class="text-center-frontpage">г. Липецк 2025</div>
</div>